body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.operator-btn{
    background-color:hsl(24, 100%, 50%, 0.55);
}
#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(180, 0%, 10%, 0.15);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    transform: scale(0.75); 
}
#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(180, 0%, 15%, 0.39);
    color:white;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button {
    transition: background-color 0.15s ease;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(180, 0%, 20%, 0.48);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}
#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.operator-btn:hover {
    background-color: hsl(27, 100%, 56%,0.75);
}
.operator-btn:active {
    background-color: hsl(27, 100%, 66%,0.75);
}
    button:hover {
        background-color: hsl(0, 0%, 40%, 0.75);
    }
button:active {
    background-color: hsl(0, 0%, 50%,0.75);
}

